@import "mattresses.scss";
@import url(http://fonts.googleapis.com/css?family=Arimo&subset=latin,cyrillic);

$font-stack-thin: 'Arimo', 'Open sans', sans-serif;
$font-stack-thik: 'Open sans', sans-serif;
$red: rgba(255,0,0,.75);
$black-grey: rgba(54, 54, 54, 1);
$black-white: #ddd;

* {
	margin: 0;
	padding: 0;

	body {
		background: #f8f8f8;
		#header-wrap {
			width: 100%;
			height: 80px;
			background: #fff; 
		}
		header {
			width: 1200px;
			height: 100%;
			margin:auto;
		}
		#logo {
			height: 100%;
			width:230px;
			float:left;
			line-height: 80px;
			text-align: center;
			font-family : 'Arimo', 'Open sans', sans-serif;
			color: $black-grey;
			font-size: 40px;
			font-weight: bold;
		}
		#nav-wrap {
			width:740px;
			height:100%;
			float:left;
		}
		#cart-wrap{
			height: 80px;
			width:230px;
			float:left;
			#cart {
				width: 230px;
				height: 80px;
				border-radius: 3px;
				position: relative;
				img {
					width: 40px;
					height: 40px;
					margin: 20px 0 0 10px;
					float: left;
				}
				.product-counter {
					position: absolute;
					width: 20px;
					height: 20px;
					border-radius: 10px;
					background: red;
					top:10px;
					left: 176px;
					line-height: 20px;
					color:#fff;
					text-align: center;
					font-family : $font-stack-thin;
					font-size: 13px;
					z-index: 999;
				}
				.place-order {
					display: block;
					width:auto;
					height:25px;
					padding: 0 5px;
					border: 1px solid $black-grey;
					margin: 20px 0 0 10px;
					text-align: center;
					line-height: 25px;
					font-family : $font-stack-thik;
					color: $black-grey;
					font-size: 14px;
					font-weight: bold;
					cursor: pointer;
					border-radius: 3px;
					float:left;
					transition: ease-out 0.2s;
				}
				.place-order:hover {
					border: 1px solid $black-white;
					color: $black-white;
					transition: ease-out 0.2s;
				}
				.clear-cart {
					height:20px;
					margin-left: 20px;
					font-family : $font-stack-thin;
					color:#bebebe;
					font-size: 13px;
					line-height: 20px;
					cursor: pointer;
					text-align: right;
					transition: ease-out 0.2s;
				}
				.clear-cart:hover {
					text-decoration: none;
					color: $red;
					transition: ease-out 0.2s;
				}
			}
		}
		#content-wrap {
			margin: auto;
			width: 1220px;

			#ads-panel {
				width: 18%;
				min-height: 450px;
				margin: 20px 0 0 10px;
				float:left;
				.sales {
					width :220px;
					background: #fff;
					border: 1px solid #ddd;
					height:368px;
				}
				.top-sales {
					width :220px;
					height:368px;
					background: #fff;
					border: 1px solid #ddd;
				}
			}
		}
	}
}